@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Rubik:ital,wght@0,800;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Noto+Naskh+Arabic:wght@400..700&family=Rubik:ital,wght@0,800;1,800&display=swap");
:root {
    --main-clr: hsl(185, 80%, 35%);
    --main-hvr-clr: hsl(185, 73%, 33%);
    --inv-clr: #d22e1f;
    --txt-clr: #e6e6e6;
    --bg1-clr: #1b1b1b;
    --imgbg-clr: #141414;
    --bgb-clr: #2a2a2a;
    --bg2-clr: #333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    color: inherit;
    -webkit-tap-highlight-color: #fff0;
}
*::selection {
    background-color: var(--main-hvr-clr);
}
/* global rules classes */
.special {
    color: var(--inv-clr);
    text-shadow: 0 0 4px var(--inv-clr);
    font-family: "Aref Ruqaa Ink", serif;
    filter: invert(1);
}
/* end global rules classes */
html,
body {
    height: 100%;
}
body {
    direction: rtl;
    font-family: "Noto Naskh Arabic", serif;
    background-image: url(../imgs/bg.jpg);
    background-color: var(--bg1-clr);
    color: var(--txt-clr);
    padding-bottom: 3px;
    padding-inline: 5%;
    overflow-y: hidden;
    position: relative;
}
body::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.975;
    width: 100%;
    height: 100%;
    background-color: var(--imgbg-clr);
}
.wrapper {
    height: 100%;
    max-height: 100%;
    max-width: 80ch;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transform: translateY(100px);
    opacity: 0;
    animation: fadeInUp 0.5s forwards; */
}
@keyframes fadeInUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h1 {
    font-weight: 400;
    font-size: 4rem;
    margin-top: 5px;
    margin-bottom: 18px;
    user-select: none;
}
p.warn {
    font-size: 0.8rem;
}
.text-input {
    width: 100%;
    background-color: var(--bgb-clr);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 2px;
    font-size: 1.1rem;
    transition: background-color 200ms;
    &:focus {
        background-color: var(--bg2-clr);
    }
}
.send-btn {
    font: inherit;
    font-size: 1.2rem;
    letter-spacing: 1px;
    width: 100%;
    padding: 10px;
    background-color: var(--main-clr);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
    &:hover {
        background-color: var(--main-hvr-clr);
    }
}
.watermark {
    position: absolute;
    top: 50%;
    right: 50%;
    pointer-events: none;
    z-index: 1;
    opacity: 0.15;
    transform: translate(50%, 10%);
    & > h2 {
        font-size: 64px;
    }
    & > p {
        transform: translateX(15px);
    }
}
.response-box {
    --resbonse-bg: var(--bgb-clr);
    --watermark-opacity: 0.15;
    margin-block: 10px;
    padding: 15px;
    background-color: var(--resbonse-bg);
    border-radius: 5px;
    font-family: "Noto Naskh Arabic", serif;
    line-height: 1.3;
    font-size: 1.25;
    overflow-y: auto;
    opacity: 0;
    transform: translateY(-25px);
    pointer-events: none;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    width: 100%;
    &.visible {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-corner {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: var(--resbonse-bg);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: var(--main-clr);
    }
    &::-webkit-scrollbar-thumb:hover {
        background: var(--main-hvr-clr);
    }
    & > p {
        z-index: 2;
    }
    & > p:not(:last-of-type) {
        margin-bottom: 10px;
    }
}
footer {
    font: inherit;
    width: max-content;
    max-width: 100%;
    border-top: 1px solid #333;
    margin-top: auto;
    text-align: center;
    padding-top: 1px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-inline: 0.5em;
    font-size: 0.625rem;
    & > p {
        margin-inline: 0.8em;
        & > .red {
            color: rgb(255, 0, 0);
        }
        & > .black {
            color: rgb(0, 0, 0);
        }
    }
    & .special {
        font-size: 1.2em;
        margin-inline: 2px;
    }
}
